{
  "idf.port": "",
  "idf.flashType": "UART",
  "idf.openOcdConfigs": [
    "board/esp32s3-builtin.cfg"
  ],
  "cmake.configureOnOpen": false,
  "clangd.arguments": [
    "--background-index",
    "--query-driver=**",
    "--compile-commands-dir=${workspaceFolder}/build"
  ]
}
